# Supabase — get these from https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://zpcmnfyihaywjwqwkxym.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_iwRFP4eQsYWLkdWUrDF2hw_eXRFuGvd
